name: Release Helm Chart

on:
  push:
    branches:
      - main
    tags:
      - 'v*.*.*'

jobs:
  helm-chart:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Set up Helm
        uses: azure/setup-helm@v4
        with:
          version: v3.16.2

      - name: Determine chart version
        id: chart_version
        run: |
          if [[ "${{ github.event_name }}" == "push" && "${{ github.ref }}" == "refs/heads/main" ]]; then
            # Use SHA for main branch
            CHART_VERSION="0.0.0-$(echo ${{ github.sha }} | cut -c1-7)"
          elif [[ "${{ github.event_name }}" == "push" && "${{ github.ref }}" =~ ^refs/tags/v[0-9]+\.[0-9]+\.[0-9]+$ ]]; then
            # Use tag version (strip 'v' prefix)
            CHART_VERSION="${GITHUB_REF#refs/tags/v}"
          else
            # Use PR SHA for dry run
            CHART_VERSION="0.0.0-$(echo ${{ github.sha }} | cut -c1-7)"
          fi
          echo "version=$CHART_VERSION" >> $GITHUB_OUTPUT

      - name: Install Kustomize
        run: |
          curl -s "https://raw.githubusercontent.com/kubernetes-sigs/kustomize/master/hack/install_kustomize.sh" | bash
          mv kustomize /usr/local/bin

      - name: Make Helm chart
        run: |
          make helm-chart

      - name: Install yq
        run: |
          curl -fsSL https://github.com/mikefarah/yq/releases/latest/download/yq_linux_amd64 -o /usr/local/bin/yq && chmod a+x /usr/local/bin/yq

      - name: Set container image repository and tag
        run: |
          yq -i '.controllerManager.container.image.repository = "keppel.global.cloud.sap/ccloud-ghcr-io-mirror/sapcc/argora"' dist/chart/values.yaml
          yq -i '.controllerManager.container.image.tag = "sha-${{ github.sha }}"' dist/chart/values.yaml

      - name: Package Helm chart with crds folder in template
        run: |
          helm package dist/chart --version ${{ steps.chart_version.outputs.version }}-crds

      - name: Prepare CRDs folder
        run: |
          mkdir -p dist/chart/crds
          kustomize build config/default | yq ea 'select(.kind == "CustomResourceDefinition")' > dist/chart/crds/crds.yaml
          rm -rf dist/chart/templates/crd

      - name: Package Helm chart with removed crds folder from template folder
        run: |
          helm package dist/chart --version ${{ steps.chart_version.outputs.version }}

      - name: Log in to GitHub Container Registry
        run: |
          echo "${{ secrets.GITHUB_TOKEN }}" | helm registry login ghcr.io -u ${{ github.actor }} --password-stdin

      - name: Push Helm chart to GHCR
        run: |
          helm push argora-${{ steps.chart_version.outputs.version }}.tgz oci://ghcr.io/${{ github.repository_owner }}/charts
          helm push argora-${{ steps.chart_version.outputs.version }}-crds.tgz oci://ghcr.io/${{ github.repository_owner }}/charts
